<!-- Input form -->
<div class="input-group mb-3">
  <input
    [(ngModel)]="todo.title"
    id="input_text"
    type="text"
    class="form-control"
    placeholder="Type what you want to be done"
    (keydown.enter)="save()">

  <!-- Add Button -->
  <div class="input-group-append">
    <button
      class="btn btn-outline-success"
      type="button"
      (click)="save()">
      <mat-icon svgIcon="plus"></mat-icon>
      Add
    </button>
  </div>
</div>


<!-- Todo list -->
<div *ngFor="let todo of todos; index as i" class="input-group mb-3">
  <input
    [(ngModel)]="todo.title"
    type="text"
    class="form-control"
    value="{{ todo.title }}"
    (keydown.enter)="update(todo.id, todo.title) || todo.isEdit=false"
    (focusout)="todo.isEdit=false; todo.title=todo.oldTitle"
    (focus)="todo.oldTitle=todo.title"
    [disabled]="!todo.isEdit"
    #titleInput>

  <!-- Edit Button -->
  <div class="input-group-append">
    <button
      class="btn btn-outline-secondary"
      type="button"
      (click)="todo.isEdit=true">
      <mat-icon svgIcon="pencil"></mat-icon>
      Edit
    </button>
  </div>

  <!-- Delete Button -->
  <div class="input-group-append">
    <button class="btn btn-outline-danger" type="button" (click)="delete(todo.id)">
      <mat-icon svgIcon="delete"></mat-icon>
      Delete
    </button>
  </div>
</div>