<ul class="list-unstyled">
  <li>
    
  </li>
  <li>
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2">
      <div class="input-group-append">
        <button class="btn btn-outline-danger" type="button" id="button-addon2">
          <mat-icon svgIcon="delete"></mat-icon>
          Delete
        </button>
      </div>
    </div>
  </li>
</ul>

<button mat-button type="button" class="btn btn-success">
  <mat-icon svgIcon="plus"></mat-icon>
</button>